<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
 google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Transacciones');

      data.addRows([
        [1, <%=@dia1%>],   [2, <%=@dia2%>],  [3, <%=@dia3%>],  [4, <%=@dia4%>],  [5, <%=@dia5%>],  [6, <%=@dia6%>],
        [7, <%=@dia7%>]
      ]);

      var options = {
        hAxis: {
          title: 'Día de la semana'
        },
        vAxis: {
          title: 'Transacciones'
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    </script>
  </head>
  <body>
  <br/>
  <br/>
  	<h1>Cantidad de transacciones en los últimos 7 días</h1>
    <div id="chart_div" style="width: 700px; height: 300px;"></div>
    <h1>Buscar en un día específico</h1>

    <form accept-charset="UTF-8" action="http://localhost:3000/dashboard/trx" method="get">
      <label for="trx">Transacciones por dia</label>
      <select name="dia" id="dia">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>

      <select name="mes" id="mes">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>       
      </select>

      <select name="año" id="año">
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
      </select>

      <input name="commit" type="submit" value="Buscar" />

    </form>
  <br/>
  <br/>
  <br/>
  <br/>


  </body>
</html>
