<p id="notice"><%= notice %></p>

<h1>Listing Pagos</h1>

<p> Monto Banco: <%= @saldo.to_s %></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Cuentaorigen</th>
      <th>Cuentadestino</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagos.each do |pago| %>
      <tr>
        <td><%= pago._id %></td>
        <td><%= pago.cuentaOrigen %></td>
        <td><%= pago.cuentaDestino %></td>
        <td><%= pago.monto %></td>
        <td><%= link_to 'Show', pago %></td>
        <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
        <td><%= link_to 'Destroy', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pago', new_pago_path %>
