<html>
<body>
  <h1> Stock completo (Veo que tienes paciencia...)</h1>
  <h2> Resuelto en <%=@benchmark / 1000%> segundos </h2>
  <h2> Resuelto en <%=(@benchmark / 1000) / 60%> minutos </h2>
  <ul>
    <li>sku1 = <%=@sku1%></li>
    <li>sku2 = <%=@sku2%></li>
    <li>sku3 = <%=@sku3%></li>
    <li>sku4 = <%=@sku4%></li>
    <li>sku5 = <%=@sku5%></li>
    <li>sku6 = <%=@sku6%></li>
    <li>sku7 = <%=@sku7%></li>
    <li>sku8 = <%=@sku8%></li>
    <li>sku9 = <%=@sku9%></li>
    <li>sku10 = <%=@sku10%></li>
    <li>sku11 = <%=@sku11%></li>
    <li>sku12 = <%=@sku12%></li>
    <li>sku13 = <%=@sku13%></li>
    <li>sku14 = <%=@sku14%></li>
    <li>sku15 = <%=@sku15%></li>
    <li>sku16 = <%=@sku16%></li>
    <li>sku17 = <%=@sku17%></li>
    <li>sku18 = <%=@sku18%></li>
    <li>sku19 = <%=@sku19%></li>
    <li>sku20 = <%=@sku20%></li>
    <li>sku21 = <%=@sku21%></li>
    <li>sku22 = <%=@sku22%></li>
    <li>sku23 = <%=@sku23%></li>
    <li>sku24 = <%=@sku24%></li>
    <li>sku25 = <%=@sku25%></li>
    <li>sku26 = <%=@sku26%></li>
    <li>sku27 = <%=@sku27%></li>
    <li>sku28 = <%=@sku28%></li>
    <li>sku29 = <%=@sku29%></li>
    <li>sku30 = <%=@sku30%></li>
    <li>sku31 = <%=@sku31%></li>
    <li>sku32 = <%=@sku32%></li>
    <li>sku33 = <%=@sku33%></li>
    <li>sku34 = <%=@sku34%></li>
    <li>sku35 = <%=@sku35%></li>
    <li>sku36 = <%=@sku36%></li>
    <li>sku37 = <%=@sku37%></li>
    <li>sku38 = <%=@sku38%></li>
    <li>sku39 = <%=@sku39%></li>
    <li>sku40 = <%=@sku40%></li>
    <li>sku41 = <%=@sku41%></li>
    <li>sku42 = <%=@sku42%></li>
    <li>sku43 = <%=@sku43%></li>
    <li>sku44 = <%=@sku44%></li>
    <li>sku45 = <%=@sku45%></li>
    <li>sku46 = <%=@sku46%></li>
    <li>sku47 = <%=@sku47%></li>
    <li>sku48 = <%=@sku48%></li>
    <li>sku49 = <%=@sku49%></li>
    <li>sku50 = <%=@sku50%></li>
    <li>sku51 = <%=@sku51%></li>
    <li>sku52 = <%=@sku52%></li>
    <li>sku53 = <%=@sku53%></li>
    <li>sku54 = <%=@sku54%></li>
    <li>sku55 = <%=@sku55%></li>
    <li>sku56 = <%=@sku56%></li>
  </ul>
</body>
</html>
