<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Descripcion</th>
      <th>Tipo</th>
      <th>Grupo</th>
      <th>Unidades</th>
      <th>Costounitario</th>
      <th>Lote</th>
      <th>Tiempomedio</th>
      <th>Preciounitario</th>
      <th>Sku1</th>
      <th>Sku2</th>
      <th>Sku3</th>
      <th>Sku4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.Sku %></td>
        <td><%= item.Descripcion %></td>
        <td><%= item.Tipo %></td>
        <td><%= item.Grupo %></td>
        <td><%= item.Unidades %></td>
        <td><%= item.CostoUnitario %></td>
        <td><%= item.Lote %></td>
        <td><%= item.TiempoMedio %></td>
        <td><%= item.PrecioUnitario %></td>
        <td><%= item.Sku1 %></td>
        <td><%= item.Sku2 %></td>
        <td><%= item.Sku3 %></td>
        <td><%= item.Sku4 %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
