<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @item.Sku %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.Descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @item.Tipo %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @item.Grupo %>
</p>

<p>
  <strong>Unidades:</strong>
  <%= @item.Unidades %>
</p>

<p>
  <strong>Costo unitario:</strong>
  <%= @item.Costo_Unitario %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @item.Lote %>
</p>

<p>
  <strong>Tiempo medio:</strong>
  <%= @item.Tiempo_Medio %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @item.Precio_Unitario %>
</p>

<p>
  <strong>Sku1:</strong>
  <%= @item.Sku1 %>
</p>

<p>
  <strong>Sku2:</strong>
  <%= @item.Sku2 %>
</p>

<p>
  <strong>Sku3:</strong>
  <%= @item.Sku3 %>
</p>

<p>
  <strong>Sku4:</strong>
  <%= @item.Sku4 %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
