<p id="notice"><%= notice %></p>

<h1>Lista de OCs</h1>
<div id="ocs">
  <input class="search" placeholder="Buscar..." />
  <button class="sort" data-sort="estado">
    Ordenar por Estado
  </button>
  <button class="sort" data-sort="canal">
    Ordenar por canal
  </button>
  <button class="sort" data-sort="sku">
    Ordenar por sku
  </button>
  <button class="sort" data-sort="cantidad">
    Ordenar por cantidad
  </button>
  <button class="sort" data-sort="cliente">
    Ordenar por cliente
  </button>
  <button class="sort" data-sort="proveedor">
    Ordenar por proveedor
  </button>
  <table>
    <thead>
      <tr>
        <th>Idoc</th>
        <th>Idfactura</th>
        <th>Estado</th>
        <th>Fecharecepcion</th>
        <th>Fechaentrega</th>
        <th>Canal</th>
        <th>Cliente</th>
        <th>Proveedor</th>
        <th>Sku</th>
        <th>Cantidad</th>
        <th>Cantidaddespachada</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="list">
      <% @ocs.each do |oc| %>
        <tr>
          <td class="idoc"><%= oc.idoc %></td>
          <td class="idfactura"><%= oc.idfactura %></td>
          <td class="estado"><%= oc.estado %></td>
          <td class="fechaRecepcion"><%= oc.fechaRecepcion %></td>
          <td class="fechaEntrega"><%= oc.fechaEntrega %></td>
          <td class="canal"><%= oc.canal %></td>
          <td class="cliente"><%= oc.cliente %></td>
          <td class="proveedor"><%= oc.proveedor %></td>
          <td class="sku"><%= oc.sku %></td>
          <td class="cantidad"><%= oc.cantidad %></td>
          <td class="cantidadDespachada"><%= oc.cantidadDespachada %></td>
          <td><%= link_to 'Show', oc %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
