<p id="notice"><%= notice %></p>

<p>
  <strong>Idoc:</strong>
  <%= @oc.idoc %>
</p>

<p>
  <strong>Idfactura:</strong>
  <%= @oc.idfactura %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @oc.estado %>
</p>

<p>
  <strong>Fecharecepcion:</strong>
  <%= @oc.fechaRecepcion %>
</p>

<p>
  <strong>Fechaentrega:</strong>
  <%= @oc.fechaEntrega %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @oc.canal %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @oc.cliente %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @oc.proveedor %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @oc.sku %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @oc.cantidad %>
</p>

<p>
  <strong>Cantidaddespachada:</strong>
  <%= @oc.cantidadDespachada %>
</p>

<%= link_to 'Edit', edit_oc_path(@oc) %> |
<%= link_to 'Back', ocs_path %>
