<p id="notice"><%= notice %></p>

<h1>Listing Almacens</h1>

<table>
  <thead>
    <tr>
      <th>Pulmon</th>
      <th>Despacho</th>
      <th>Recepcion</th>
      <th>Espaciototal</th>
      <th>Espacioutilizado</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @almacens.each do |almacen| %>
      <tr>
        <td><%= almacen.pulmon %></td>
        <td><%= almacen.despacho %></td>
        <td><%= almacen.recepcion %></td>
        <td><%= almacen.espacioTotal %></td>
        <td><%= almacen.productos.count %></td>
        <td><%= almacen._id %></td>
        <td><%= link_to 'Show', almacen %></td>
        <td><%= link_to 'Edit', edit_almacen_path(almacen) %></td>
        <td><%= link_to 'Destroy', almacen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Almacen', new_almacen_path %>
