<p id="notice"><%= notice %></p>

<p>
  <strong>Pulmon:</strong>
  <%= @almacen.pulmon %>
</p>

<p>
  <strong>Despacho:</strong>
  <%= @almacen.despacho %>
</p>

<p>
  <strong>Recepcion:</strong>
  <%= @almacen.recepcion %>
</p>

<p>
  <strong>Espaciototal:</strong>
  <%= @almacen.espacioTotal %>
</p>

<p>
  <strong>Espacioutilizado:</strong>
  <%= @almacen.productos.count %>
</p>

<p>
  <strong>Id:</strong>
  <%= @almacen._id %>
</p>

<table>
  <thead>
    <tr>
      <th>SKU</th>
      <th>Cantidad</th>
    </tr>
  </thead>

  <tbody>
    <% skus = [] %>
    <% @almacen.productos.each do |producto| %>
      <% if skus.include?(producto.sku) %>
        <% next %>
      <% else %>
        <% skus << producto.sku %>
        <tr>
          <td><%= producto.sku %></td>
          <td><%= @almacen.productos.where(sku: producto.sku).count %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_almacen_path(@almacen) %> |
<%= link_to 'Back', almacens_path %>
